html{
    background-color: #77C3EC;
}

button{
    width: 100%;
}

.item{
    color: black;
}

#lastContainer{
    padding-bottom: 20px;
}

.flexContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background-color: #77C3EC;
}

.cardSizeL{
    width: 300px;
}

@media only screen and (min-width: 600px) {
    .cardSizeL{
        width: 500px;
    }
}